<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/style_main.css">
    <title>ALLSPORT MALAGA</title>
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="eventos">Eventos</a></li>
            <li><a href="registro_usuario">Calendario</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav>

    <h1>Bienvenido, <%= user %>!</h1>

    
    <H1> ESPACIO USUARIO PRINCIPAL </H1>



    Pulse <a href="prueba">aquí</a> prueba

</body>
</html>
