<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/style_index.css">
    <title>ALLSPORT MÁLAGA</title>
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Inicio</a> </li>
            <li><a href="inicio_sesion">Iniciar Sesión</a></li>
            <li><a href="registro_usuario">Registro Usuario</a></li>
            <li><a href="registro_empresa">Registro Empresa</a></li>
        </ul>
    </nav>

    <h1>ALLSPORT MÁLAGA</h1>


    <div class="contenido1">
        <div class="imagen">
            <img src="../resources/css/gente-caminando-juntos-al-aire-libre-plano-medio.jpg" alt="Imagen">
        </div>
        <div class="texto">
            <h1> ¿Quienes somos?</h1>
            <p>En ALLSPORT, nos especializamos en la gestión de eventos deportivos de primer nivel. Nuestro equipo altamente capacitado y apasionado se dedica a proporcionar experiencias excepcionales en el mundo del deporte. Desde eventos locales hasta competiciones internacionales, nos comprometemos a ofrecer un servicio profesional y personalizado que garantice el éxito de cada evento que organizamos. Únete a nosotros en nuestro viaje mientras continuamos liderando la industria de la gestión de eventos deportivos.</p>
        </div>
    </div>


    <div class="contenido2">
        <div class="imagen">
            <img src="../resources/css/gente-caminando-juntos-al-aire-libre-plano-medio.jpg" alt="Imagen">
        </div>
        <div class="texto">
            <h1> ¿Quienes somos?</h1>
            <p>En PLAYEVENTS, nos especializamos en la gestión de eventos deportivos de primer nivel. Nuestro equipo altamente capacitado y apasionado se dedica a proporcionar experiencias excepcionales en el mundo del deporte. Desde eventos locales hasta competiciones internacionales, nos comprometemos a ofrecer un servicio profesional y personalizado que garantice el éxito de cada evento que organizamos. Únete a nosotros en nuestro viaje mientras continuamos liderando la industria de la gestión de eventos deportivos.</p>
        </div>
    </div>

    <div class="contenido3">
        <div class="imagen">
            <img src="../resources/css/gente-caminando-juntos-al-aire-libre-plano-medio.jpg" alt="Imagen">
        </div>
        <div class="texto">
            <h1> ¿Quienes somos?</h1>
            <p>En PLAYEVENTS, nos especializamos en la gestión de eventos deportivos de primer nivel. Nuestro equipo altamente capacitado y apasionado se dedica a proporcionar experiencias excepcionales en el mundo del deporte. Desde eventos locales hasta competiciones internacionales, nos comprometemos a ofrecer un servicio profesional y personalizado que garantice el éxito de cada evento que organizamos. Únete a nosotros en nuestro viaje mientras continuamos liderando la industria de la gestión de eventos deportivos.</p>
        </div>
    </div>


    <div class="contenido4">
        <div class="imagen">
            <img src="../resources/css/gente-caminando-juntos-al-aire-libre-plano-medio.jpg" alt="Imagen">
        </div>
        <div class="texto">
            <h1> ¿Quienes somos?</h1>
            <p>En PLAYEVENTS, nos especializamos en la gestión de eventos deportivos de primer nivel. Nuestro equipo altamente capacitado y apasionado se dedica a proporcionar experiencias excepcionales en el mundo del deporte. Desde eventos locales hasta competiciones internacionales, nos comprometemos a ofrecer un servicio profesional y personalizado que garantice el éxito de cada evento que organizamos. Únete a nosotros en nuestro viaje mientras continuamos liderando la industria de la gestión de eventos deportivos.</p>
        </div>
    </div>


</body>
</html>
