<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/style_main.css">
    <title>ALLSPORT MALAGA</title>
</head>
<body>

    <!--     <nav class="navbar">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
            
        </ul>
    </nav>-->

    <div class="titulo">
        <h1 class="border">ALLSPORTS MÁLAGA</h1>
    </div>

<div class="mov">
    <div class="carta">
        <img src="../resources/css/trato.jpg">
        <div class="info">
            <h1>ÚNETE</h1>
            <p>¿QUIERES FORMAR PARTE DE ESTE GRUPO?</p>
            <a href="registros_unificados" class="btn">Registrate</a>
        </div>
    </div>

    <div class="carta">
        <img src="../resources/css/gente-caminando-juntos-al-aire-libre-plano-medio.jpg">
        <div class="info">
            <h1>¿QUIENES SOMOS?</h1>
            <p>WEB DE GESTION DE EVENTOS EN PROCESO</p>
            <a href="index" class="btn">Leer mas</a>
        </div>
    </div>

    <div class="carta">
        <img src="../resources/css/im1.jpg">
        <div class="info">
            <h1>INICIA SESIÓN</h1>
            <p>WEB DE GESTION DE EVENTOS EN PROCESO</p>
            <a href="inicio_sesion" class="btn">Inicio de sesion</a>
        </div>
    </div>

</div>




</body>
</html>
