<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/style_main.css">
    <title>ALLSPORT MALAGA</title>
</head>
<body>
    <H1> ESPACIO EMPRESA Y USARIO</H1>
</body>
</html>
