<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="../resources/css/style_registro.css">
</head>
<body>

<div id="registro-usuario">
  <h2>Registro de Usuario</h2>
  <form action="registro_usuario" method="POST">

    <div class="div">
        <input type="text" name="user" required id="usuario_input">
        <label for="user" id="usuario_label">Usuario</label>
    </div>

    <div class="div">
        <input type="password" name="pass" required id="password_input">
        <label for="pass" id="password_label">Contrase単a</label>
    </div>


    <div class="div">
        <input type="password" name="pass2" required id="password_input2">
        <label for="pass" id="password_label2">Confirmar Contrase単a</label>
    </div>

    <div class="div">
        <input type="email" name="email" required id="email_input">
        <label for="email" id="email_label">Correo</label>
    </div>

    <input type="submit" class="btn-save" value="CONFIRMAR">
    <button type="button" class="btn-change" onclick="mostrarRegistroEmpresa()">REGISTRO EMPRESA</button>

</form>
</div>

<div id="registro-empresa" style="display: none;">
  <h2>Registro de Empresa</h2>
  <form action="registro_empresa" method="POST">

    <div class="div">
        <input type="text" name="user" required id="empresa_input">
        <label for="user" id="empresa_label">Empresa</label>
    </div>

    <div class="div">
        <input type="password" name="pass" required id="password_input_empresa">
        <label for="pass" id="password_label_empresa">Contrase単a</label>
    </div>


    <div class="div">
        <input type="password" name="pass2" required id="password_input2_empresa">
        <label for="pass" id="password_label2_empresa">Confirmar Contrase単a</label>
    </div>

    <div class="div">
        <input type="email" name="email" required id="email_input_empresa">
        <label for="email" id="email_label_empresa">Correo</label>
    </div>

    <div class="div">
        <input type="text" name="nif" required id="nif_input">
        <label for="nif" id="nif_label">NIF</label>
    </div>

    <div class="div">
        <input type="text" name="contacto" required id="contacto_input">
        <label for="contacto" id="contacto_label">Contacto</label>
    </div>

    <input type="submit" class="btn-save" value="CONFIRMAR">
    <button type="button" class="btn-change" onclick="mostrarRegistroUsuario()">REGISTRO USUARIO</button>

</form>
</div>



  
<script src="../resources/javascript/registros_unificados.js"></script>
<script src="../resources/javascript/registros_ajustes.js"></script>

</body>
</html>
