<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/style_registro.css">
    <title>Formulario_usuario</title>
</head>
<body>

    <div class="registro">
        <h1>Formulario</h1>
            <form action="registro_usuario" method="POST">

                <div class="div">
                    <input type="text" name="user" required id="usuario_input">
                    <label for="user" id="usuario_label">Usuario</label>
                </div>

                <div class="div">
                    <input type="password" name="pass" required id="password_input">
                    <label for="pass" id="password_label">Contraseña</label>
                </div>


                <div class="div">
                    <input type="password" name="pass2" required id="password_input2">
                    <label for="pass" id="password_label2">Contraseña</label>
                </div>

                <div class="div">
                    <input type="email" name="email" required id="email_input">
                    <label for="email" id="email_label">Correo</label>
                </div>

                <input type="submit" class="btn-save" value="CONFIRMAR">

            </form>
    </div>

    <script src="../resources/javascript/registros_ajustes.js"></script>
    
</body>
</html>
