body {
    background: linear-gradient(to bottom right, rgb(157, 188, 245), rgb(73, 73, 255));
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px; /* Reducir el margen horizontal */
    margin: -20px 0; /* Reducir el margen vertical */
}

.contenido {
    width: 45%;
    margin-bottom: 0px; /* Reducir el margen inferior del contenedor */
    background-color: aliceblue;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    margin: 0 50px; /* Ajustar el margen horizontal */
}

.texto {
    width: 100%;
    padding: 20px;
}

.texto h1 {
    font-size: 20px;
    border-bottom: none;
}

h1 {
    text-align: center;
    color: rgb(0, 7, 5);
    font-size: 50px;
    border-bottom: 2px solid #1e1a1a;
}

.cab h1 {
    text-align: center;
    color: rgb(0, 7, 5);
    font-size: 50px;
    border-bottom: 2px solid #1e1a1a;
    background-color: aliceblue;
    margin: 30px; /* Agregar margen superior e inferior */
    margin-bottom: 60px; /* Ajustar margen inferior para crear separación */
}



.menu-icon {
    cursor: pointer;
    padding: 10px;
}

.menu-line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.menu-items {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #029a0a;
    width: 200px;
    padding: 10px;
    list-style-type: none;
    font-size: medium;
    height: calc(100vh - 100px); /* Calcula la altura del menú para que ocupe toda la pantalla */
    transition: opacity 0.5s ease; /* Transición lenta de 0.5 segundos */
    opacity: 0; /* Comienza con opacidad 0 para que el menú sea invisible inicialmente */
}

.menu-items li {
    margin-bottom: 10px;
    text-align: left;
}

.menu-items li a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 30px;
    font-size: large;
}

.menu-items li a:hover {
    background-color: #bbf6ab;
}

.imagen-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente la imagen */
    margin-bottom: 5px; /* Reducir el margen inferior del contenedor de la imagen */
    margin-top: 5px; /* Reducir el margen superior del contenedor de la imagen */
    border-radius: 20px;
}


.imagen-container img {
    width: 10%; /* Ajustar el ancho de la imagen */
    border-radius: 50px;
}

