body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.destacado .imagen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destacado .imagen img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 40px;
}

.destacado .texto {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    padding: 20px; /* Añade padding para que el contenido no esté pegado al borde */
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.5); /* Color de fondo gris semi-transparente */
    backdrop-filter: blur(5px); /* Aplicar filtro de desenfoque al fondo */
}


.destacado .texto h1 {
    font-size: 36px;
}

.destacado .texto p {
    font-size: 18px;
    margin-bottom: 20px;
}

.eventos {
    background-color: #f2f2f2;
    padding: 20px;
}

.eventos h1 {
    text-align: center;
}

.eventos .mov {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.eventos .carta {
    width: 45%;
    height: 350px;
    position: relative;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.eventos .carta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eventos .carta .info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-size: large;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.eventos .carta .info a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.calendario {
    width: 90%;
    text-align: center;
    margin: 50px auto;
}

.fc-event-title {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 2px;
    background-color: blue;
    width: 100%;
}
