/* Estilo del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fondo claro */
}

.navbar {
    margin-bottom: 40px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
}
/* Encabezado */
.container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

/* Contenedor principal */
.container {
    margin-top: 20px;
}

/* Contenedor de la información del evento y el mapa */
.evento-info {
    display: flex;
    flex-direction: column;
}

/* Estilo para la información del evento */
.evento-detalles {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

/* Estilo para el mapa */
.evento-map {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Imágenes del evento */
.evento-imagenes {
    background-color: #ffffff;
    margin-left: 120px;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botón Comprar */
.comprar-boton {
    margin-top: 20px;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 1.125rem;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Carousel */
.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}
